name: Build Android APK

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]  # собирать также по тегам релиза

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Make Gradle executable
        run: chmod +x ./gradlew
        working-directory: ./android

      - name: Build APK
        run: ./gradlew assembleRelease
        working-directory: ./android

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: android/app/build/outputs/apk/release/*.apk
